main .question{
    min-height:840px ;
    display: grid;
    grid-column: 1fr 1fr;
    grid-template-areas: "enunciado enunciado"
                         "figura  form";
    padding: 48px;
    background-image: linear-gradient(to bottom, #f1ebd9, #fff);
    border-radius: 0 0 16px 16px ;
    gap: 36px;
    position: relative;
}

main .question .enunciado {
    line-height:34px;
    grid-area: enunciado;  
    align-items: center;  
}

main .question .figura {
    grid-area: figura;
}

main .question .figura .matriz {
    text-align: center;
}

main .question .form {
    grid-area: form;
    
}

main .question .form form .options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 32px;
    gap: 60px;
}

main .form form .options div span {
    transform: translateY(5px);
}

main .question .form form .options label {
    text-transform: uppercase;
}

main .question .form form .options input[type=radio]{
    margin: 4px;
    width: 16px;
    height: 17px;
}